# Summary Statistics

*Erin Cameron*

---

## 1.0) Setup

In [1]:
# Import packages
import pandas as pd

In [2]:
# Read the dispatch dataset in
dispatches = pd.read_csv(r'../data/tps_incident_data_2010.csv', parse_dates=True, index_col="Dispatch_Time")
dispatches = dispatches.sort_index()
display(dispatches)

,ID,Incident_Type,Priority_Number,Units_Arrived_At_Scene,FSA
Dispatch_Time,,,,,
2010-01-01 00:01:36,3061660,Medical,4,2,M5R
2010-01-01 00:04:23,3061663,Medical,1,1,M5V
2010-01-01 00:05:52,3061664,Medical,5,1,M5N
2010-01-01 00:09:53,3061667,Medical,1,1,M4Y
2010-01-01 00:10:36,3061668,Medical,1,2,M6K
...,...,...,...,...,...
2010-12-31 23:54:16,3364482,Medical,4,1,M5B
2010-12-31 23:54:35,3364481,Medical,4,1,M1H
2010-12-31 23:54:40,3364480,Medical,1,1,M4X
2010-12-31 23:57:24,3364485,Medical,1,1,M6K
2010-12-31 23:57:27,3364487,Medical,1,1,M1W

## 2.0) Summary Statistics

### 2.1) Dispatch Volume

In [3]:
# Extract date from Dispatch_Time
dispatches['day_of_year'] = dispatches.index.dayofyear

# Count dispatches by the day
daily_counts = dispatches.groupby('day_of_year').size()
display(daily_counts)

day_of_year
1      609
2      478
3      526
4      497
5      545
      ...
361    616
362    620
363    605
364    631
365    646
Length: 365, dtype: int64

In [44]:
# Locate the highest dispatch volume day of the year
highest_dispatch_volume = daily_counts.max()
highest_dispatch_volume_day = daily_counts[daily_counts == highest_dispatch_volume].index[0]
print(f'Highest dispatch volume day of the year: {highest_dispatch_volume_day} = July 5th')

Highest dispatch volume day of the year: 186 = July 5th

In [43]:
# Calculate the total number of dispatches
total_dispatches = dispatches.shape[0]
print(f'Total dispatches: {total_dispatches}')

Total dispatches: 204805

### 2.2) Dispatch Volume by Incident_Type

In [5]:
dispatch_volume_by_type = dispatches.groupby('Incident_Type').size()
print(dispatch_volume_by_type)

Incident_Type
Airport Standby               34
Emergency Transfer          3743
Fire                        1094
Medical                   186600
Motor Vehicle Accident     13334
dtype: int64

### 2.3) Dispatch Volume by FSA

In [32]:
dispatch_volume_by_fsa = dispatches.groupby('FSA').size()
print(dispatch_volume_by_fsa.head())

FSA
0      18
K0K     1
K9A     2
K9J     9
K9V     2
dtype: int64

In [31]:
# Show the highest dispatch volume FSA
highest_dispatch_volume = dispatch_volume_by_fsa.max()
highest_dispatch_volume_fsa = dispatch_volume_by_fsa[dispatch_volume_by_fsa == highest_dispatch_volume].index[0]
print(f'The highest dispatch volume was: {highest_dispatch_volume}\nfrom the FSA: {highest_dispatch_volume_fsa}')

The highest dispatch volume was: 4481
from the FSA: M6K

### 2.4) Average Time Between Dispatches

In [21]:
# Convert the Dispatch_Time to datetime
# dispatches = dispatches.reset_index()
dispatches['time_diff'] = dispatches['Dispatch_Time'].diff().dt.total_seconds()
avg_time_between_dispatches_sec = round(dispatches['time_diff'].mean(), 2)
avg_time_between_dispatches_min = round(avg_time_between_dispatches_sec / 60, 2)

print(f'Average time between dispatches in seconds: {avg_time_between_dispatches_sec}\nAverage time between dispatches in minutes: {avg_time_between_dispatches_min}')

Average time between dispatches in seconds: 153.98
Average time between dispatches in minutes: 2.57

### 2.5) Proportion of Dispatches by Priority

In [33]:
priority_distribution = dispatches['Priority_Number'].value_counts(normalize=True)
print(priority_distribution)

Priority_Number
1     0.345455
4     0.285765
5     0.169386
3     0.154435
9     0.022299
11    0.015576
12    0.005757
13    0.001328
Name: proportion, dtype: float64

### 2.5) Dispatch Volume by Month

In [48]:
dispatches['month'] = dispatches['Dispatch_Time'].dt.month
monthly_call_volume = dispatches.groupby('month').size()
print(monthly_call_volume)

month
1     15860
2     14183
3     15443
4     15510
5     16662
6     17381
7     19399
8     18547
9     17708
10    18082
11    17232
12    18798
dtype: int64